{% extends "base.html" %}

{% block content %}
<h2 class="fw4 f3 mt0 mb3">{{ deck.title }}</h2>

<form action="{% url 'delete_deck' pk=deck.pk %}" method="POST">
    {% csrf_token %}
    {{ form.as_p}}
    <p class="fw1 f3 mt0 mb3">Are you sure you want to delete the entire {{ deck.title }} deck?</p>
    <p>
        <button class="f5 br-pill bg-dark-green no-underline washed-green ba b--dark-green grow pv1 ph3 dib mr3" type="submit">Yes</button>
        <a class="f5 br-pill bg-red no-underline washed-green ba b--light-red grow pv1 ph3 dib mr3" href="{% url 'deck_detail' pk=deck.pk %}">Cancel</a>
    </p>
</form>

{% endblock %}