{% extends "base.html" %}

{% block content %}
<h2>{{ deck.title }}</h2>

<form action="{% url 'delete_deck' pk=deck.pk %}" method="POST">
    {% csrf_token %}
    {{ form.as_p}}
    <p>Are you sure you want to delete {{ deck.title }}?</p>
    <p>
        <button class="f6 link dim br3 ph3 pv2 mb2 dib white bg-dark-green" type="submit">Yes</button>
        <a class="f7 link dim br3 ba bw2 ph3 pv2 mb2 dib dark-red" href="{% url 'deck_detail' pk=deck.pk %}">Cancel</a>
    </p>
</form>

{% endblock %}