{% extends "base.html" %}
{% load static %}
{% block scripts %}
<script src="{% static 'js/reveal.js' %}" defer></script>


{% endblock %}
{% block content %}

<div class="tl">
    <a class="f6 br-pill bg-gray no-underline washed-green ba b--navy grow pv2 ph3 dib mr3" href="{% url 'deck_detail' pk=deck.pk %}"><-- Go back to {{ deck.title }} Deck</a>
</div>
<br>
<br>

<p class="tc f7"><em>Click the front to flip card to reveal back</em></p>

<div class="flex justify-center">
    <div class="card-container">
        <div class="front"><p class="f6">Front</p>
            <h1 class='center'>{{ card.question }} </h1></div>
        <div class="back"><p class="f6">Back</p>
            <p class="f1">{{ card.answer }}</p></div>
    </div>
</div>

{% if card.mastered is True %}
<p class="fw1 f4 mt0 mb3 tc navy"> You have mastered this card: <span class="fa fa-star star checked"></span></p>

{% else %}
<p class="fw1 f4 mt0 mb3 tc navy"> You have mastered this card: <span class="fa fa-star"></span> </p>
{% endif %}


<br>
<div class="f3 tc">
    <a href="{% url 'next_question' card_pk=card.pk %}" class="link dim dark-blue ph3 pv2 bb ba br-pill b--navy">Next Card</a>
</div>
{% endblock %}